@use '../../partials/colors' as *;
@use '../../partials/typeface' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/breakpoints' as *;

.footerLogo {
    &__image {
        padding-bottom: 15px;
        width: 50%;
        @include tablet {
            width: 5rem;
        }
    }
}