@use '../../partials/colors' as *;
@use '../../partials/typeface' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/breakpoints' as *;

.ourProductsButton {
    &__button {
        padding: 20px;
        border-radius: 40px;
        background-color: $chocolate_cosmos;
        color: $tan;
    }
}