@use '../../partials/colors' as *;
@use '../../partials/typeface' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/breakpoints' as *;

.openingHours__heading,
.socials__heading {
    font-family: 'AmaticSC Regular';
}

.footer {
    &__container {
        padding: 50px;
        background-color: $chocolate_cosmos;
        color: $tan;
        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
}