@use '../../partials/colors' as *;
@use '../../partials/typeface' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/breakpoints' as *;

.heroText {
    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $tan;
        @include tablet {
            align-items: flex-start;
            padding-left: 100px;
        }
    }
    &__heading {
        padding-bottom: 60px;
        font-family: 'AmaticSC Bold';
    }
    &__motto {
        padding-bottom: 25px;
    }
    &__aboutBtn {
        padding: 20px;
        border-radius: 40px;
        background-color: $chocolate_cosmos;
        color: $tan;
    }
}