@use '../../partials/colors' as *;
@use '../../partials/typeface' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/breakpoints' as *;

.socialsFacebook__logo {
    color: $tan;
}
.socials {
    &__icons {
        display: flex;
        flex-direction: row;
    }
}