@use '../../partials/colors' as *;
@use '../../partials/typeface' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/breakpoints' as *;

.navbar {
    // desktop/tablet and general styles
    &__nav {
        top: 0;
        left: 0;
        z-index: 99;  
        padding: 10px 20px;
        height: 7rem;  
        width: 100vw;
        position: sticky;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $tan;
        background-color: $chocolate_cosmos;
    }
    &__toggle {
        display: none;
    }
    &__container {
        position: relative;
    }
    &__links {
        display: flex;
        align-items: center;
        gap: 3rem;
    }
    &__navlink {
        color: $tan;
        transition: all 500ms ease;        
    }
    &__navlink:hover {
        color: $white;
    }
}

/* active nav */
@media screen and (max-width: 425px) {
    .navbar__toggle {
        background: transparent;
        display: inline-block;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--color-blue-500);
    }
    .navbar__links {
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: -10px;
        gap: 0;
    }
    .navbar__link {
        width: 100%;
        height: 7rem;   
        box-shadow: -2rem 2rem 5rem rgba(0, 0, 0, 0.4);
    }
    .navbar__navlink {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 1rem 3rem;
        color: $tan;
        background-color: $chocolate_cosmos;        
    }
    .navbar__open {
        display: flex;
    }
    .navbar__closed {
        display: none;
    }
}