@use '../../partials/colors' as *;
@use '../../partials/typeface' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/breakpoints' as *;

.openingHours {
//     &__container {
//         width: 100%;
//     }
    &__listItem {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}