@use '../../partials/colors' as *;
@use '../../partials/typeface' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/breakpoints' as *;

.openingHours {
    &__heading {
        font-family: 'AmaticSC Regular';
    }
    &__listItem {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}