@use '../../partials/colors' as *;
@use '../../partials/typeface' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/breakpoints' as *;

.hero {
    &__container {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(https://images.unsplash.com/photo-1510972527921-ce03766a1cf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 30rem;
        display: flex;
        align-items: center;
        @include desktop {
            height: 38rem;
        }
    }
}