@use '../../partials/colors' as *;
@use '../../partials/typeface' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/breakpoints' as *;

.companyNumber__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}